#center {
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  text-align: center;

  @media (max-width: 1024px) {
    gap: 20px;
  }
}

.subtitle {
  color: var(--text-h);
  opacity: 0.65;
  max-width: 46ch;
  margin-top: -16px;
}
